<h1>Vestidos de mujer</h1>
<div>
    <div id="searchinfo" class="col-xl-12 col-l-12 col-m-12 col-s-12 col-xs-12">
        <form>
            <input class="col-xl-9 col-l-8 col-m-6 col-s-6 col-xs-7" type="search" name="search" placeholder="Buscar...">
        </form>
        <select class="col-xl-3 col-l-4 col-m-6 col-s-6 col-xs-5">
            <option>Precion más bajo</option>
            <option>Precion más alto</option>
            <option>Por opiniones</option>
            <option>Por descuento</option>
        </select>
    </div>
</div>
<div id="imgs" class="col-xl-12 col-l-12 col-m-12 col-s-12 col-xs-12" >
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto1.jpg" width="100%">
        <div>Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong>$29.9</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto2.jpg" width="100%">
        <div class="oferta">Oferta</div>
        <h3>Vestido cruzado largo con texto más largo</h3>
        <strong><del>$29.9</del> $25</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto3.jpg" width="100%">
        <div>Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong>$29.9</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto4.jpg" width="100%">
        <div class="oferta">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong><del>$29.9</del> $25</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto5.jpg" width="100%">
        <div class="oferta">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong><del>$29.9</del> $25</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto6.jpg" width="100%">
        <div class="oferta">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong><del>$29.9</del> $25</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto7.jpg" width="100%">
        <div>Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong>$29.9</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto8.jpg" width="100%">
        <div class="oferta">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong><del>$29.9</del> $25</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto9.jpg" width="100%">
        <div class="oferta">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong><del>$29.9</del> $25</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto10.jpg" width="100%">
        <div class="oferta">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong><del>$29.9</del> $25</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto11.jpg" width="100%">
        <div>Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong>$29.9</strong>
    </a>
    <a class="col-xl-4 col-l-4 col-m-6 col-s-12 col-xs-12  href="">
        <img alt="Producto 1" src="img/producto12.jpg" width="100%">
        <div class="oferta">Oferta</div>
        <h3>Vestido cruzado largo</h3>
        <strong><del>$29.9</del> $25</strong>
    </a>
</div>

<ul class="col-xl-12 col-l-12 col-m-12 col-s-12 col-xs-12" id="guia">
    <li class=" col-xl-1 col-l-1 col-m-1 col-s-1 col-xs-1" ><a href="#">1</a></li>
    <li class=" col-xl-1 col-l-1 col-m-1 col-s-1 col-xs-1" ><a  href="#">2</a></li>
    <li class=" col-xl-1 col-l-1 col-m-1 col-s-1 col-xs-1" ><a  href="#">3</a></li>
    <li class=" col-xl-1 col-l-1 col-m-1 col-s-1 col-xs-1" ><a href="#">...</a></li>
    <li class=" col-xl-1 col-l-1 col-m-1 col-s-1 col-xs-1" ><a  href="#">10</a></li>
</ul>